.slider {
    margin: 10px;
    width: 95%;
}

.rc-slider {
    height: 10px;
}

.rc-slider-handle:hover {
    border: none;
}

.rc-slider-handle:active {
    box-shadow: 0 0 0px;
}


.rc-slider-rail {
    height: 10px;
}

.rc-slider-track {
    height: 10px;
    background: #388E3C;
}

.rc-slider-handle {
    margin-top: -7px;
    border: none;
    height: 24px;
    width: 24px;
    background: #41C748;
}