html,
body {
    background: #212121;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
    background: #555;
}

.app {
    top: 25px;
    position: relative;
    height: calc(900px - 25px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    flex-shrink: 0;
    height: 45px;
}


footer,
a {
    color: #a5a5a5;
}

.widgets {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 470px;
    max-width: 80%;
}

.widget {
    color: white;
    top: 10%;
    padding: 15px;
    background-color: #535353;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px 0;
}


.divider {
    width: 100%;
    border-bottom: solid 2px #535353;
    margin: 10px 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.hue,
.spotify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
    max-width: 100%;
}